@import "tailwindcss";

@layer base {
  .markdown-body {
    @apply text-inherit;
  }
  .markdown-body p {
    @apply mb-2 last:mb-0;
  }
  .markdown-body ul {
    @apply list-disc ml-4 mb-2;
  }
  .markdown-body ol {
    @apply list-decimal ml-4 mb-2;
  }
}
